<!DOCTYPE html>
<html>
<head>
  <title>instants</title>
  <link rel="stylesheet" href='/stylesheets/normalize.css') />
  <link rel="stylesheet" href='/stylesheets/styles.css') />
</head>
<body>
  <div id="container">
    <h1>instants</h1>
    <%- body %>
  </div>
</body>
</html>
