!!! 5
html
  head
    title instants
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    #container
      h1 instants
      != body
